<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <!-- owl carousel css-->
    <link rel="stylesheet" th:href="@{/owl-carousel/assets/owl.carousel.min.css}" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css2/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css2/font-awesome.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css2/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css2/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/images2/fevicon.png}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css2/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}">
    <!-- owl stylesheets -->
    <link rel="stylesheet" th:href="@{/css2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css2/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" th:href="@{css2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{css2/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <title>Se connecter</title>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <a class="navbar-brand">Ambiguss</a>
    <br>
    <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
            class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#" th:onclick="|window.location.href= '/auth/'|">Acceuil</a></li>
            <li class="nav-item"><a class="nav-link" href="#" sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="|window.location.href= '/admin/'|">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <a href="#" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase" sec:authorize="isAnonymous()" th:onclick="|window.location.href= '/auth/'|">Se connecter</a>
            <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase"  sec:authorize="isAnonymous()" th:onclick="|window.location.href= '/auth/reg'|">S'inscrire</a>
            <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase"  sec:authorize="isAuthenticated()" th:onclick="|window.location.href= '/auth/logout'|">Logout</a>
        </form>
    </div>

</nav>


<div class="services_section">
    <div class="container">
        <h1 class="services_text"></h1>
    </div>
</div>
<div class="login_section">
    <div class="container">
        <div class="row">
            <h1 class="best_taital">Jouons</h1>
            <div class="box_main">

            </div>
            <div class="section2" >
                <br>
                <h1 align="center" th:if="${question.get(0).getPhrase()}" th:utext="${question.get(0).getPhrase()}">..</h1>

                <div id="Global">
                    <form class="form-control" th:action="@{/main/choisir}" th:object="${options}" method="post">

                        <div th:each="mot , i : ${question}">
                            <label type="text"  th:text="${mot.getMot()}">..</label>
                            <select hidden="hidden" th:field="*{optionList[__${i.index}__].word}" >
                                <option hidden="hidden" th:value="${mot.getMot()}" selected/>
                            </select>

                            <select th:name="bni" th:field="*{optionList[__${i.index}__].Choix}" class="form-control">
                                <option th:name="op1" th:each="choix : ${mot.getChoix()}"th:utext="${choix}" th:value="${choix}" >..</option>
                            </select>
                            <label type="text" th:if="*{optionList[__${i.index}__].point}">Vous avez gagné </label>
                            <label type="text" th:if="*{optionList[__${i.index}__].point}" th:text="*{optionList[__${i.index}__].point}" />
                            <label type="text" th:if="*{optionList[__${i.index}__].point}">points</label>
                        </div>
                        <br>
                        <div class="discover_bt"><button class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase" type="submit" th:action="|window.location.href= '/main/choisir'|" th:if="${options.isValide} == false" >Valider</button></div>
                    </form>
                </div>
                <div class="bt_main">
                    <div class="discover_bt"><button class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase" th:onclick="|window.location.href= '/main/suivante'|" th:if="${options.isValide} == true">Suivante</button></div>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="section2">
            <div class="bt_main">
    <div class="discover_bt"><button class="btn btn-warning btn-block  my-2 my-sm-0 mr-lg-auto" th:onclick="|window.location.href= '/main/getGlose'|">ajouer une glose</button></div>
            </div>
    </div>
    </div>
</div>
    <div class="container" th:if="${glose}">
        <div class="row">
            <div class="section2">
                <div class="card-body">
                    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <div class="form-label-group">
                                    <label class="text-danger" th:if="${place}" th:text="${place}"></label>
                                    <br><br>
                                </div>
                                <div class="form-label-group">
                                    <label class="text-success" th:if="${suc}" th:text="${suc}"></label>
                                    <br>
                                </div>

            <form method="post" class="container" th:action="@{/main/addGlose}" th:if="${glose}" th:object="${glose}">
                <select hidden="hidden" th:field="*{phrase}">
                    <option hidden="hidden" th:value="${question.get(0).getPhrase()}" >..</option>
                </select>
                <div class="form-label-group">
                    <input  type="text" id="m"  th:if="${glose}" th:field="*{mot}" placeholder="M" required autofocus>
                    <label for="m">Mot</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="glos"  th:if="${glose}" th:field="*{glose} "placeholder="G" required>
                    <label for="glos">Glose</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="p"  th:if="${glose}" th:field="*{point} "placeholder="P" required>
                    <label for="p">Point</label>
                </div>
                <div class="form-label-group">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Ajouter</button>
                </div>
            </form>
                    <br> <br> <br> <br> <br> <br> <br> <br><br> <br> <br>
                            </div></div></div>

                </div>
            </div>
        </div>

    </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container-fluid gtco-news" id="news">



</div>
<footer class="container-fluid" id="gtco-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="contact">
                <h4> Contacter nous </h4>
                <input type="text" class="form-control" placeholder="Nom Complet">
                <input type="email" class="form-control" placeholder="Adresse Email">
                <textarea class="form-control" placeholder="Message"></textarea>
                <a href="#" class="submit-button">ENVOYER <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <h4>A propos de notre jeu</h4>
                        <ul class="nav flex-column company-nav">
                            <li class="nav-item"><a class="nav-link" href="#">Acceuil</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                        </ul>
                        <h4 class="mt-5">Nous suivre</h4>
                        <ul class="nav follow-us-nav">
                            <li class="nav-item"><a class="nav-link pl-0" href="#"><i class="fa fa-facebook"
                                                                                      aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-twitter"
                                                                                 aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-google"
                                                                                 aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-linkedin"
                                                                                 aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-6">

                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl carousel js-->
<script th:src="@{/owl-carousel/owl.carousel.min.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js2/jquery.min.js}"></script>
<script th:src="@{/js2/popper.min.js}"></script>
<script th:src="@{/js2/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js2/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js2/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{/js2/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js2/custom.js}"></script>
<!-- javascript -->
<script th:src="@{/js2/owl.carousel.js}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    function createLocalstorageItem(txtJwtTokenValue) {
        sessionStorage.setItem("jwtToken", txtJwtTokenValue);
    }

    function readValue() {
        var jwtToken = sessionStorage.getItem("jwtToken");
        console.log("jwtToken : "+jwtToken );
        return jwtToken ;

    }

    function getDataFromAPiByPassingJwtTokenInHeader(){
        var jwtToken=readValue();
        $.ajax({
            url: 'http://localhost:9656/main/choisir',
            type: 'post',
            data: {},
            headers: {
                Bearer : "Bearer "+ jwtToken;  //key word **Bearer**  should pass before the token string
            },
            dataType: 'json',
            success: function (data) {
                console.info(data);
            }
        });
    }

</script>
</body>
</html>
