<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- awesone fonts css-->
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" type="text/css">
    <!-- owl carousel css-->
    <link rel="stylesheet" th:href="@{/owl-carousel/assets/owl.carousel.min.css}" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css2/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css2/font-awesome.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css2/style.css}">
    <!-- Responsive-->
    <link rel="stylesheet" th:href="@{/css2/responsive.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/images2/fevicon.png}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css2/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" th:href="@{https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css}">
    <!-- owl stylesheets -->
    <link rel="stylesheet" th:href="@{/css2/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css2/owl.theme.default.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <title>Inscription</title>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <a class="navbar-brand">Ambiguss</a>
    <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
            class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#" th:onclick="|window.location.href= '/'|">Acceuil</a></li>
            <li class="nav-item"><a class="nav-link" href="#" sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="|window.location.href= '/admin/'|">Admin</a></li>
            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <a href="#" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase" sec:authorize="isAnonymous()" th:onclick="|window.location.href= '/auth/'|">Se connecter</a>
            <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase"  sec:authorize="isAnonymous()" th:onclick="|window.location.href= '/auth/reg'|">S'inscrire</a>
            <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase"  sec:authorize="isAuthenticated()" th:onclick="|window.location.href= '/me'|">Profile</a>
            <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase"  sec:authorize="isAuthenticated()" th:onclick="|window.location.href= '/auth/logout'|">Logout</a>
        </form>
    </div>

</nav>


<div class="services_section">
    <div class="container">
        <h1 class="services_text">SERVICES</h1>
    </div>
</div>
<div class="login_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ajouter une phrase</h5>
                        <form class="form-signin" method="post" th:action="@{/ajoute/add}" th:object="${addPhrase}">
                            <div class="form-label-group">
                                <input type="text" id="phrase" class="form-control" placeholder="Phrase" th:field="*{phrase}"required autofocus>
                                <label for="phrase">Phrase</label>
                            </div>
<div th:each="mot , i : ${addPhrase.mots}">
    <div class="form-label-group">
        <input type="text" id="mo" class="form-control" th:field="*{mots[__${i.index}__].mot} "placeholder="word" required>
        <label for="mo">Mot</label>
    </div>

                            <div class="form-label-group">
                                <input type="text" id="choix1" class="form-control" th:field="*{mots[__${i.index}__].choix1} "placeholder="choix 1" required>
                                <label for="choix1">Choix 1</label>
                            </div>
    <div class="form-label-group">
        <input type="text" id="point1" class="form-control" th:field="*{mots[__${i.index}__].point1} "placeholder="point 1" required>
        <label for="point1">Point de choix 1</label>
    </div>
                            <div class="form-label-group">
                                <input type="text" id="choix2" class="form-control" th:field="*{mots[__${i.index}__].choix2} "placeholder="choix 2" required>
                                <label for="choix2">Choix 2</label>
                            </div>
    <div class="form-label-group">
        <input type="text" id="point2" class="form-control" th:field="*{mots[__${i.index}__].point2} "placeholder="point 2" required>
        <label for="point2">Point de choix 2</label>
    </div>
    <div class="form-label-group">
        <input type="text" id="choix3" class="form-control" th:field="*{mots[__${i.index}__].choix3} "placeholder="choix 3" >
        <label for="choix3">Choix 3</label>
    </div>
    <div class="form-label-group">
        <input type="text" id="point3" class="form-control" th:field="*{mots[__${i.index}__].point3} "placeholder="point 3" required>
        <label for="point3">Point de choix 1</label>
    </div>
    <div class="form-label-group">
        <input type="text" id="choix4" class="form-control" th:field="*{mots[__${i.index}__].choix4} "placeholder="choix 4" >
        <label for="choix4">Choix 4</label>
    </div>
    <div class="form-label-group">
        <input type="text" id="point4" class="form-control" th:field="*{mots[__${i.index}__].point4} "placeholder="point 4" required>
        <label for="point4">Point de choix 4</label>
    </div>
                           </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="action" value="la">ajouter une nouvelle mot ambigu</button>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="action" value="le">Ajouter</button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> S'inscrire avec Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> S'inscrire avec Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gtco-banner-area">
</div>

<div class="container-fluid gtco-news" id="news">



</div>
<div class="container-fluid gtco-news" id="news">



</div>


<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- owl carousel js-->
<script th:src="@{/owl-carousel/owl.carousel.min.js}"></script>

<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js2/jquery.min.js}"></script>
<script th:src="@{/js2/popper.min.js}"></script>
<script th:src="@{/js2/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js2/jquery-3.0.0.min.js}"></script>
<script th:src="@{/js2/plugin.js}"></script>
<!-- sidebar -->
<script th:src="@{/js2/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/js2/custom.js}"></script>
<!-- javascript -->
<script th:src="@{/js2/owl.carousel.js}"></script>


<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>
</html>